<h1>New Post</h1>

<%= form_for @post, url: user_posts_path(current_user), class: 'new_post' do |f| %>
  <div class="field">
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Message" %><br>
    <%= f.text_area :content %>
  </div>
  <%= f.submit 'Create post' %>
<% end %>

<script type="text/javascript">
  new PostView()
</script>
